<html>
  <body>
    <pre>hello from:
         <%= node['hostname'] %>
         <%= node['platform'] %> - <%= node['platform_version'] %>
         <%= node['memory'] %>
         <%= node['cpu'] %> CPUs
    </pre>
  </body>
</html>
